
@font-face {
  font-family: 'Comic Neue';
  src: url('/fonts/subset-ComicNeue-Bold.woff2') format('woff2'),
      url('/fonts/subset-ComicNeue-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


* >* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  outline: none;
  touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.15);

}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Comic Neue", sans-serif;
  /* font-weight: 700; */
  font-weight: bold;
  font-style: normal;
  text-shadow:0px 0px 5px #000;
  color: white;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}

#frame{
  position: absolute;
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: start;
  gap: 3vh;
  align-items: center;
  background-color: rgb(0, 91, 152);
  pointer-events: none;  
  /* width: 100%;
  height: 100%; */
  z-index: 10001; /* to be on top of stats */
  transition: background-color 0.3s ease-in;
}

#frame > *{
  pointer-events: all;
}

#container{
  /* position: relative; */
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2vh;
}

#gameText{
  font-size: 90px;
  color: white;
}


.button{
  font-family: inherit;
  font-weight: inherit;
  text-shadow: inherit;
  box-shadow:0px 0px 5px #000;
  color: white;
  background-color: rgb(158, 185, 129);
  border-radius: 25px;
  border: 2px solid white;
  cursor: pointer;
  &:hover{/* for mouse */
    background-color: rgb(119, 139, 98);
  }
  
  &.hovered{/* for spacebar and enter keys*/
    background-color: rgb(119, 139, 98) !important;
  }
}

#playButton{
  font-size: 70px;
  padding: 10px 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

#timer{
  display: flex;
  font-size: 55px;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  margin-top: 20px;
  padding: 0;
  font-family: /* "Consolas", */"Courier New", monospace;
  font-weight: bold;
  line-height: 80%;
}


#audioButton{
  -webkit-tap-highlight-color: transparent;
  /* position: absolute; */
  background-color: transparent;
  border: none;
  margin-top: 10vh;
  font-size: 50px;
  color: white;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
#sound-on-icon {
  display: none;
  text-shadow: 0px 0px 5px #000;
}

#sound-off-icon {
  display: block;
  text-shadow: 0px 0px 5px #000;
}

#pauseButton{
  -webkit-tap-highlight-color: transparent;
  display: flex;
  background-color: transparent;
  border: none;
  font-size: 50px;
  color: white;
  cursor: pointer;
  display: none;
  opacity: 0.7;
}

#pause-icon {
  display: block;
  text-shadow: 0px 0px 5px #000;
}


#loader {
  position: absolute;
  top: 50vh;
  box-shadow: 0px 0px 15px #006fb9;
  border: 8px solid #002d4b;
  border-top: 8px solid #f3f3f3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

#settings-wrapper{
  transition: opacity 0.3s ease-in;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  flex-grow: 1;
  margin-bottom: 10vh;
  width: 100%;
  gap: 10px;
}

#fov-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  gap: 15px;
  background-color: #ffffff37;
  border-radius: 20px;

  >span{
    font-size: 25px;
    color: white;
  }

  label{
    padding: 4px 8px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    border: 2px solid white;
  }

  input[type="radio"] {
    display: none;
    &:checked + label {
      background-color: rgb(158, 185, 129);
    }
  }

  .fov-radios{
    display: flex;
    gap: 30px;
  }
  
}

.shader-cont{
  padding: 20px 20px;
  gap: 15px;
  background-color: #ffffff37;
  border-radius: 20px;

  >span{
    font-size: 25px;
    color: white;
  }

  label{
    padding: 4px 8px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    border: 2px solid white;
  }

  input[type="checkbox"] {
    display: none;
    &:checked + label {
      background-color: rgb(158, 185, 129);
    }
  }

  .shader-radios{
    display: flex;
    gap: 30px;
  }

}




@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  #gameText{
     font-size: 15vw;
  }
  #playButton{
    font-size: 10vw;
  }
  /* #timer{
    font-size: 10vw;
  } */
  #audioButton{
    /* font-size: 5vw; */
  }
}

@media screen and (max-height: 600px) {
  #gameText{
     font-size: 10vh;
  }
  #playButton{
    font-size: 7vh;
  }
  /* #timer{
    font-size: 10vh;
  } */
  #audioButton{
    /* font-size: 5vh; */
  }
}

.d-none {
  display: none !important;
}